<div class="max-w-[80%] lg:max-w-3xl mx-auto">
  <h2>about</h2>
  <p>
    I am a Frontend Engineer who believes in collaboration, culture and
    community. Currently, I am currently working clientside on multiple products
    using a medley of tech, including React, Angular, Vue (yes, really. All 3 of
    them), .Net and more. Before moving to product development, I spent five
    years in award-winning digital agencies honing my craft in developing great
    user interfaces that are both accessible and get killer web performance
    scores.
  </p>
  <p>
    My passion for community has previously seen me help organise the Junior Dev
    meetup, which naturally transitioned to mentoring with SheCodes.
    Additionally, I am collaborating with the Perth Football League to improve
    the digital presence of all 71 clubs, emphasising positive culture and a
    community-first approach. I've also spearheaded this initiative with my
    club, the mighty Whitford Warriors.
  </p>
  <p>
    When I'm not at my desk, I'm likely found on various sporting
    courts/ovals/things or at a gig, asking what genre is a loaded question.
  </p>
</div>
