---
interface Props {
  background: "dark" | "light";
  fullHeight?: boolean;
}
const { background } = Astro.props;

const bgColor = background === "dark" ? "bg-off-black" : "bg-alto";
const textColor = background === "dark" ? "text-alto" : "text-off-black";
---

<div class="w-full h-svh p-12">
  <div class={`${bgColor} ${textColor} w-full h-full`}>
    <slot />
  </div>
</div>
