---
interface Props {
  background: "dark" | "light";
  verticalPadding?: boolean;
}
const { background, verticalPadding, ...rest } = Astro.props;

const paddingClasses = verticalPadding
  ? "px-2 pb-2 md:px-6 md:pb-6 lg:px-12 lg:pb-12"
  : "p-2 md:p-6 lg:p-12";
---

<section class=`padding-section w-full h-fit ${paddingClasses}`>
  <slot />
</section>
