---
import "./styles.css";
interface Props {
  background: "dark" | "light";
  hasAnimation?: boolean;
}
const { background, hasAnimation } = Astro.props;

const bgColor = background === "dark" ? "bg-gondola" : "bg-alto";
const textColor = background === "dark" ? "text-alto" : "text-gondola";
const animateClass = hasAnimation ? "growing" : null;
---

<section class=`padding-section w-full h-fit lg:h-svh p-2 md:p-6 lg:p-12`>
  <div
    class={`${bgColor} ${textColor} ${animateClass} w-full h-full rounded-sm p-2`}
  >
    <slot />
  </div>
</section>
