.padding-section {
  position: relative;
  .growing {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      scale: 0;
      height: calc(100% - var(--spacing-12));
      width: 100%;
      z-index: -1;
      background-color: var(--color-gondola);
      transform-origin: center;
      animation: grow linear both;
      animation-timeline: scroll();
      animation-range: 10px 100px;
    }

    @media (min-width: 1024px) {
      &::before {
        content: "";
      }
    }
  }
}

@keyframes grow {
  to {
    scale: 1;
  }
}
