---
import { getCollection } from "astro:content";
import PaddingSection from "../padding-section/PaddingSection.astro";

const posts = await getCollection("thoughts");
---

<PaddingSection background="light">
  {
    posts.length === 0 ? (
      <p>no thoughts yet</p>
    ) : (
      <ul>
        {posts.map((post: any) => (
          <li>
            <a href={`/thoughts/${post.slug}`}>{post.data.title}</a>
          </li>
        ))}
      </ul>
    )
  }
</PaddingSection>
