---
import { getCollection } from "astro:content";
import PaddingSection from "../padding-section/PaddingSection.astro";

interface Props {
  pinnedOnly?: boolean;
}
const { pinnedOnly, ...rest } = Astro.props;

const posts = pinnedOnly
  ? await getCollection("thoughts", (thought: any) => thought.data.pinned)
  : await getCollection("thoughts");
---

<PaddingSection background="light">
  {
    posts.length === 0 ? (
      <p>no thoughts yet</p>
    ) : (
      <ul>
        {posts.map((post: any) => (
          <li>
            <a href={`/thoughts/${post.slug}`}>{post.data.title}</a>
          </li>
        ))}
      </ul>
    )
  }
</PaddingSection>
