---
import { getCollection } from "astro:content";
import PaddingSection from "../padding-section/PaddingSection.astro";

const posts = await getCollection("thoughts");
---

<PaddingSection background="light">
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/thoughts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</PaddingSection>
