---
import { getCollection } from "astro:content";

const posts = await getCollection("thoughts");
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/thoughts/${post.slug}`}>{post.data.title}</a>
      </li>
    ))
  }
</ul>
