/* Not supported in firefox*/

/* total width */
body::-webkit-scrollbar {
  background-color: var(--color-alto);
  width: 12px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: var(--color-alto);
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: var(--color-alto-800);
  border-radius: 16px;
  border: 2px solid var(--color-alto);
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}
