.nav {
  position: relative;
  &:after,
  &:before {
    content: "";
    height: 100%;
    width: var(--spacing-12);
    background-color: var(--color-alto);
    top: 0;
    position: absolute;
    transform-origin: center;
    animation: fade-out linear both;
    animation-timeline: scroll();
    animation-range: 10px 100px;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}
