@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes page-exit {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translateY(-5px);
  }
}

@keyframes page-enter {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fade-out {
  position: relative;
  &:after,
  &:before {
    content: "";
    height: 100%;
    width: var(--spacing-2);
    background-color: var(--color-alto);
    top: 0;
    position: absolute;
    transform-origin: center;
    animation: fade-out ease-out both;
    animation-timeline: view();
    animation-range: 10px 100px;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}
