/* Objects – Style rules for elements responsible for layout or structuring. */
@import "./animations.css";

body {
  @apply text-xl;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  color: var(--color-gondola);
}

footer {
  margin-top: auto;
}

p {
  @apply py-4;
}
