---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/Hero.astro";
import ThoughtsList from "../components/thoughts-list/ThoughtsList.astro";
import PaddingSection from "../components/padding-section/PaddingSection.astro";
import IntroContent from "../components/intro-content/IntroContent.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <PaddingSection background="light" />
    <IntroContent />
    <ThoughtsList />
  </main>
</Layout>
