---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="bg-red-50">do the hustle</main>
  <div class="text-blue-500">this is a thing</div>
</Layout>
s
