/* This Replaces the Generic Layer of ITCSS Included is tailwind, it's reset and the configuration of your theme based upon the settings */

/* note no tailwind config in astro 4 means intellisense won't work at the moment*/
@import "tailwindcss";

@theme {
  --font-family-display: "Atkinson Hyperlegible", sans-serif;
  --font-family-sans: "Atkinson Hyperlegible", sans-serif;

  --color-off-black: #1b0f12;
  --color-alto: #d3d3d3;
}
body {
  background-color: var(--color-brown-lighter4);
}
