---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/atkinson-hyperlegible";
import "../app.css";
import Navigation from "../components/navigation/Navigation.astro";
import Footer from "../components/footer/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const transitions = {
  old: {
    name: "page-exit", // same name as the keyframe in layouts/Main
    duration: "0.3s",
    easing: "ease-out",
  },
  new: {
    name: "page-enter",
    duration: "0.3s",
    easing: "ease-out",
    delay: "500ms",
  },
};

const thePageTransistion = {
  forwards: transitions,
  backwards: transitions,
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ViewTransitions exit-class="exit" entry-class="enter" />
  </head>
  <body class="bg-alto fade-out">
    <Navigation />
    <div transition:animate={thePageTransistion}>
      <slot />
    </div>
    <Footer />
  </body>
</html>
